    pageSetup:
        firstTemplate: coverPage
        size: Letter
        margin-top: 1cm
        margin-bottom: 1cm
        margin-left: 2cm
        margin-right: 2cm
        margin-gutter: 0cm

    pageTemplates:
        coverPage:
            showHeader: false
            showFooter: true

    styles: 
        base:
            fontName: Arial
            alignment: left

        title:
            fontName: Arial-BoldNarrow
            spaceAfter: 2
            alignment: left

        heading1:
            fontName: Arial-Bold
            spaceBefore: 10
            fontSize: 150%
            spaceAfter: 2
            alignment: center

        header:
            fontName: Arial-BoldNarrow
            fontSize: 100%
            alignment: right

        bodytext:
            spaceBefore: 0
            alignment: left

        lineblock:
            spaceBefore: 4
            spaceAfter: 0

        bullet-list:
            spaceBefore: -2
            spaceAfter: 5

        bullet-list-item:
            alignment: left
            spaceBefore: 0
            spaceAfter: 0

        field-list: 
            spaceBefore: 0

        definition-list:
            spaceBefore: 10
